<%- include("header") -%>

    <body>

        <div  id="time">
            <h1>
                <%= Time %>
            </h1>
        </div>
        <div  id="heading">
            <h1>
                <%= listTitle %>
            </h1>
        </div>
        
        <div class="box">
            <% for( let i=0; i < newListItems.length; i++ ) { %>
                <div class="item">
                    <form action="/delete" method="post">
                        <!-- <input type="checkbox" class="check" style="border: 2px solid hotpink;"> -->
                        <p><button name="cross" class="cross" type="checkbox" value=<%=[i,listTitle] %>>x</button>
                            <%= newListItems[i] %>
                        </p>
                    </form>
                </div>
                <% } %>

                    <form action="/" method="post">
                        <input type="text" name="newItem" id="" placeholder="New Task" autocomplete="off">
                        <button name="List" type="submit" value=<%=listTitle %>>+</button>
                    </form>

        </div>
        <div class="box">

            <% for( let i=0; i < finishedItems.length; i++ ) { %>
                <div class="item finisheditem">
                    <form action="/readd" class="readd" method="post">
                        <!-- <input type="checkbox" class="check" checked > -->

                        <p><button name="cross" class="cross" type="checkbox" value=<%=[i,listTitle] %> >-</button>
                            <%= finishedItems[i] %>
                        </p>
                    </form>
                    <form action="/pdel" class="pedl" method="post">
                        <p class="del-p">
                            <button name="dash" class="dash" type="checkbox" value=<%=[i,listTitle] %> >
                                <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                                <lord-icon src="https://cdn.lordicon.com/kfzfxczd.json" trigger="hover"
                                    colors="primary:#e83a30" style="width:25px;height:25px">
                                </lord-icon>
                            </button>
                        </p>
                    </form>
                </div>


                <% } %>


        </div>

        <div id="quote">
            <h3>Quote </h3>
            <p>"
            <%= quote %>" 
        </p>
            <br> 
            - <span><%= author %></span>
           
          
        </div>






    </body>
    <%- include("footer") -%>